*{
    box-sizing: border-box;
    margin:0;
    font-family: Arial;
}

body{
    height: 100vh;
}

.arriba1{
    background-color: cyan;
    font-size: 80%;
    padding: 8px;
}
.arriba2{
    background-color: #00669F;
    color: white;
    font-size: 80%;
    padding: 10px;   
}
main{
    display: flex;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: #00669F;
    padding: 10px 80px;

    width: 700px;

}

.datos{
    display: flex;
    justify-content: space-around;
}
.zona{
    display: flex;
    flex-direction: column;
    border: #000000;
    border-width: 10px;
}
.elemento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

footer{
    color: white;
    background-color: #00669F;
    text-align: center;
    height: 51px;
    padding: 10px;
}

@media (min-width: 480px) {
    main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}